:root {
    --color-dark: #202020;
    --color-light: #f1f1f1;

    --border-size: 4px;

    --border: var(--border-size) solid var(--color-dark);
    --padding-bottom-board: 100%;
    --padding-bottom--row: 33.33333333%;
    --padding-bottom-checker: calc(var(--padding-bottom--row));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--color-light);
}
